@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, Roboto Slab;
}

main {
    width: 100%;
    margin: auto;
}

h2 {
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: bold;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
}

h4 {
    font-family: Roboto;
    font-style: bold;
    font-size: 30px;
}

.shekil {
    width: 112px;
    height: 66px;
    margin-top: 21px;
    margin-left: 121px;
}

.panel1 {
    width: 158px;
    height: 44px;
    margin-right: 26px;
}

.forma {
    width: 667px;
    height: 93px;
    margin: 121px 0 100px 0;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}

.info {
    max-width: 1002px;
}

.format {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 982px;
}

.format h3 {
    color: #1E4681;
}

.panel2 {
    width: 134px;
    height: 44px;
    margin-left: 0;
    margin-right: 19px;
}

.panel3 {
    width: 156px;
    height: 44px;
}

.panel {
    font-family: 'Roboto';
    font-size: 20px;
    margin: 88px 25px 0 116px;
    width: 493px;
    height: 44px;
    display: flex;
    flex-direction: row;
}


.vebinar {
    width: 150px;
    height: 39px;
}

.dostup {
    width: 214px;
    height: 39px;
}

.obseniye {
    width: 150px;
    height: 39px;
}

.online {
    width: 223px;
    height: 39px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.kabi {
    width: 271px;
    height: 109px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.prepod {
    width: 245px;
    height: 39px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.vtoroy {
    width: 667px;
    height: 93px;
    margin-left: 121px;
    margin-top: 2510px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}

.spiski {
    width: 662px;
    height: 374px;
    margin-left: 138px;
    margin-top: 2624px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}


.lessons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1271px;
    margin: 120px 0;
}


.lessons div {
    max-width: 399px;
    max-height: 328px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px 0 #000000;
}

.lessons h4 {
    margin: 11px 0 32px 19px;
    margin-top: 11px;
    margin-bottom: 32px;
    margin-left: 19px;
}

.lessons p {
    font-size: 25px;
    font-family: Roboto;
    margin: 0 0 23px 19px;
}

h4.vosem {
    margin: 8px 0 0 19px;
}